<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Модульний контроль
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-31 Богуцький Олег
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Завдання: Для учеників середньої школи необхідно розробити застосування для вивчення геометрії та планіметрії. Для трьовимірних тіл необхідно розраховувати площину та об‘єм для двовимірних площину та периметр та для тих для яких це можливо радіус вписаної та описаної окружностей. Тривимірні тіла – трикутна піраміда, куб, циліндр, двовимірні тіла - ромб.  Створити поліморфний контейнер для їх виведення( як мінімум 3 елемента). Результати розрахунків необхідно виводити на екран.
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input type="number" value="5" #Inputn></ion-input>
      <ion-button (click) = "ras(Inputn.value)">Розрахунок</ion-button>
      <p *ngFor = "let fig of figure">{{ fig.show() }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
